:root {
    /* Define o tamanho base para o rem */
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ;
}

.navbar {
    background-color: #000;
    padding: 1rem 5vw;
    /* Padding responsivo usando rem e vw */
    display: flex;
    justify-content: space-between;
    /* Empurra logo para esquerda e menu para direita */
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.btn-hamburguer {
    align-items: flex-end;
    justify-content: left;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
}

/* Estilo da Logo */
.logo {
    width: 70px;
    height: auto;
}

/* Estilo do Contêiner de Links */
.menu-links {
    /* Em telas de celular, os links ficam invisíveis ou transformados em um ícone de hambúrguer. */
    /* Para simplificar, vamos transformá-los em coluna se necessário: */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Alinha os links à direita do menu */
    gap: 0.5rem;
    /* Espaçamento entre os links em rem */
}

.menu-links a {
    font-size: 1rem;
    /* Tamanho da fonte responsivo */
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 400;
    display: none;
}

.menu-links a:hover {
    color: #00ff99;
}

.Categorias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espaçamento entre os checkboxes */
}

.categoria-item {
    display: flex;
    align-items: center;
    /* Alinha o checkbox e o texto verticalmente */
    gap: 8px;
    /* Cria um espaço entre o checkbox e o texto */
}

#Catálogo {
    padding: 1vw;
}

#Catálogo h2 {
    text-align: center;
}

.catálogo {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    padding: 20px 40px;
}


.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 20px;
    margin: 0 auto;
    height: auto;
    max-width: 1000px;
    position: relative;
    top: -40px;
}

.produto-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    margin: 20px;
    width: 200px;
}

.produto-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #000;
    padding: 5vw;

}

.container-footer {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10vw;
}

.rodape-img img {
    display: none;

}

.container-footer h3 {
    color: #00ff99;
    font-size: 1.2rem;

}

.container-tel,
.container-insta {
    display: flex;
    gap: 1vw;
    color: white;
}

.container-tel svg {
    color: #00ff99;
    margin-top: 0.5vw;
}

.container-insta svg {
    color: #00ff99;
    margin-top: 0.5vw;
}

.localizacao {
    color: #fff;
}

#rodape {
    text-align: center;
    margin-top: 5vw;
    margin-bottom: -5vw;
}

#rodape p,
a {
    font-size: 1.2rem;
    color: white;
}

#rodape a {
    text-decoration: none;
    font-weight: 600;
}

@media (min-width: 810px) {
    .navbar {
        padding: 1rem 5rem;
        /* Aumenta o padding lateral para desktop */
        position: sticky;
    }

    .btn-hamburguer {
        display: none;
    }

    .menu-links {
        flex-direction: row;
        gap: 1.5rem;
    }

    .menu-links a {
        display: block;
        font-size: 1.2rem;
    }

    .paginas-slide img {
        margin: 30px;
        margin-top: 60px;
        width: 300px;
        height: 280px;
    }

    .filtros-container {
        width: 20vw;
        height: 25vw;
        border: 1px solid #07cd71;
        border-radius: 5px;
        padding: 2vw;
        background-color: #07cd71;
        color: #fff;
        font-size: 1.2rem;
        flex-shrink: 0;
    }

    .Categorias {
        margin-top: 20px;
        color: #fff;
    }

    .preço-slider {
        margin-top: 10px;
    }

    .preço-slider h3 {
        font-size: 1.3rem;
        color: #fff;
    }

    .range-slider {
        position: relative;
        width: 100%;
        height: 5px;
        margin: 30px 0;
        background-color: #000;
    }

    .slider-track {
        height: 100%;
        position: absolute;
        background-color: #000;
    }

    .range-slider input {
        position: absolute;
        width: 100%;
        background: none;
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
        appearance: none;
    }

    input[type="range"]::-webkit-slider-thumb {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 3px solid #fff;
        background: #fff;
        pointer-events: auto;
        appearance: none;
        cursor: pointer;
        box-shadow: 0 .125rem .5625rem rgba(0, 0, 0, 0.25);
    }

    input[type="range"]::-moz-range-thumb {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 3px solid #fff;
        background: #fff;
        pointer-events: auto;
        cursor: pointer;
        -moz-appearance: none;
        box-shadow: 0 .125rem .5625rem rgba(0, 0, 0, 0.25);
    }

    .tooltip {
        padding: .25rem .5rem;
        border: 0;
        background: #373f50;
        color: #fff;
        line-height: 1.2rem;
        border-radius: .25rem;
        bottom: 120%;
        display: block;
        position: absolute;
        text-align: center;
        white-space: nowrap;
    }

    .min-tooltip {
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        z-index: 5;
    }

    .max-tooltip {
        right: 50%;
        transform: translateX(50%) translateY(-100%);
    }

    .input-box {
        display: flex;
    }

    .min-box,
    .max-box {
        width: 50%;
    }

    .min-box {
        padding-right: .5rem;
        margin-right: .5rem;
    }

    .input-wrap {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }

    .input-addon {
        display: flex;
        align-items: center;
        padding: .625rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        text-align: center;
        white-space: nowrap;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: .25rem;
    }

    .input-field {
        margin-left: -1px;
        padding: .425rem .75rem;
        font-size: 0.8125rem;
        border-radius: .25rem;
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        color: #4b566b;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #000;
    }

    .input-field:focus {
        outline: none;
    }


    .produtos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        margin: 0 auto;
        height: auto;
        max-width: 1000px;

    }

    .produto-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
        padding: 10px;
        text-align: center;
        width: 25%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 360px;
    }

    .produto-card button{
        margin-top: auto;
        width: 80%;
        padding:10px;
    }

    .produto-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .produto-card:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }


    .rodape-img img {
        display: flex;
        width: 12vw;


    }

    .container-footer h3 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .container-footer p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .container-footer {
        display: flex;
        margin-top: -3vw;
        margin-bottom: -3vw;
    }

    .contatos {
        margin-left: 5vw;
        font-size: 1.3rem;
    }

    .localizacao {
        margin-left: 5vw;
        font-size: 1.3rem;
    }

    .container-tel svg {
        width: 1.5vw;
        height: 1.5vw;
        margin-bottom: 0.5vw;
    }

    .container-insta svg {
        width: 1.5vw;
        height: 1.5vw;
        margin-bottom: 0.5vw;

    }

    .container-tel {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 1vw;
    }

    /* Opcional: Remove a margem padrão do parágrafo, que pode atrapalhar o alinhamento */
    .container-tel p {
        margin: 0;
    }

    .container-tel a {
        text-decoration: none;
        color: #fff;
    }

    .container-tel a:hover {
        color: #00ff99;
    }

    .container-insta {
        display: flex;
        align-items: center;
        gap: 5px;

    }

    .container-insta p {
        margin: 0;
        font-size: 1.3rem;
    }

    .container-insta a{
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
    }
    
    .container-insta a:hover{
        color: #00ff99;
    }

}